body{
    margin: 0;
    padding: 0 ;
    text-align: center;
    font-family: sans-serif;
    background-color: #e84393;
    background-image: linear-gradient(315deg, crimson 0%, #0e0606 74%);
    background-size: cover;
    background-position: center;
}
.contact-title{
margin-top: 100px;
color:white;
transition: all 4s ease;
}
.contact-title h1{
    font-size: 52px;
    line-height: 10px;
    padding-bottom: 30px;
}
.contact-title h2{
    font-size: 32px;
}
form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

.form-control{
    width: 600px;
    background: transparent;
    /* border-bottom: 1px  solid rgb(243, 226, 226) ; */
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    margin-bottom: 16px;

}
input{
    height: 45px;
}
form .submit{
    background: crimson;
    border-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}
form .submit:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}